<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trendyol.devtools.deeplinklauncher">

    <application>
        <activity
            android:name=".internal.ui.MainActivity"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.Devtools"
            android:exported="false" />
    </application>

</manifest>
