<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.trendyol.devtools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>

        <activity
            android:name=".internal.ui.MainActivity"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.Devtools" />

        <service
            android:name=".internal.service.DevToolsService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="true" />

        <activity-alias
            android:name="com.infinum.dbinspector.DbInspectorActivity"
            android:targetActivity=".internal.ui.MainActivity"
            tools:node="remove" />
    </application>
</manifest>
